# Lab Exercises

## Processing Data with Python, Part 2

---

Getting the hard part out of the way, let's import `pandas` and get our data set up.

In [2]:
import pandas as pd

chip = pd.read_csv("chipotle.tsv", sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

---

#### **Exercise 1**

Display a random 10 rows from this Dataframe.

In [4]:
chip.sample(10)

,order_id,quantity,item_name,choice_description,item_price
4455,1776,1,Chips,NaN,2.15
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2435,967,1,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.99
3667,1467,1,Bottled Water,NaN,1.09
1501,610,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
3562,1431,1,Chips and Tomatillo Green Chili Salsa,NaN,2.95
1774,716,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",9.39
2390,950,1,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.99
1609,651,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",8.49

#### **Exercise 2**

Calculate the average item price "the hard way," by summing the values in the column and dividing. Just like you did in math class. (Sorry.)

In [ ]:
sum = chip['item_price'].sum()
count = chip['item_price'].count()
average = sum/count
print (average)

#### **Exercise 3**

Now, calculate the mean again, using a pandas function. This is the easy way to do the above.

In [ ]:
chip['item_price'].mean()

#### **Exercise 4**

How many unique items have people ordered? What I mean by this is how many different things are there recorded for "item names," not how many orders there are in total.

List the items and how many there are. (Hint: The functions for doing those two things differ only by one letter.)

In [ ]:
chip['item_name'].unique()
chip['item_name'].value_counts()

#### **Exercise 5**
Using a query mask, create a new dataframe of just the times where more than one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

In [ ]:
query = chip['quantity']>1
quantity= chip[query]
quantity.head(10)

#### **Exercise 6**

Using a query mask and [Pandas string methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling), create a new dataframe of just the times people ordered chips. Print the first five such times.

In [ ]:
chip_mask=chip['item_name'] == "Chips"
chip_frame = chip[chip_mask]
chip_frame.head(5)

#### **Exercise 7**

What's the average item price of our "chips and something" subset?

In [ ]:
chip_frame['item_price'].mean()

#### **Exercise 8**

In this last exercise, you'll be doing our job for us. Check out the [WPRDC website](https://data.wprdc.org/dataset). Spend a few minutes looking through the available datasets, and pick one that you think is cool.

Fill out the following information about it:

**name of the dataset**:

link:

Who/what submitted this data to the WPRDC?

What information do I need to interpret this data? Is there a data dictionary? Is there any important information about the dataset missing?

Why is this data of use to people in Pittsburgh? Could it be useful to anyone else: activists, politicians, researchers, companies? 

Can you think of any questions you want to ask of this dataset?

Is this a good dataset, in your opinion?

1. City of Pittsburgh playing fieds, and they submitted stats of playing fields in the city of pittsburgh
2. You need to intertept addreses